name: Auctionbay Frontend CI/CD

on: [ pull_request ]

env:
  NEXT_PUBLIC_BACKEND_URL: https://localhost:8000

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 20.11.0

      - name: Install dependencies
        run: npm ci

      - name: Prettier format
        run: npm run format

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build